@model Item

<tr data-href="@Model.Url()">
    <td class="table-icon">@Html.SvgIcon(Model.IconName(), Model.IconColor())</td>
    <td><a href="@Model.Url()">@Model.Title</a></td>
    <td class="table-icon"><a class="btn btn-icon" href="@Model.Url()/edit" title="Continue editing">@Html.SvgIcon("pencil")</a></td>
</tr>

