@model Group
@{
    Title = "Groups";
}

@section navbar_left {
    <a href="@Model.Url()" class="btn btn-icon">@Html.SvgIcon("arrow-left")</a>
}

<div class="container-fluid mt-3">
@using (Html.BeginForm(nameof(GroupController.Update), null, new { id = Model.Id }, FormMethod.Post, new { autocomplete = "off", data_turboform = "", novalidate = "" })) {
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.EditorsForModel()
    <div class="form-buttons">
        <button type="submit" name="button" value="@nameof(GroupController.Update)" class="btn btn-primary btn-load waves-effect">Save</button>
        <a href="@Model.Url()" class="btn btn-outline-secondary mr-auto waves-effect">Cancel</a>
    </div>
}
</div>
