@model GroupModel
@{
    Title = "Groups";
}


@section navbar_left {
    <div class="navbar-icons">
        <a class="btn btn-icon" href="@(Url.Action<GroupController>(c => c.Index(null)))">@Html.SvgIcon("arrow-left")</a>
    </div>
}

<div class="cover pt-4 pb-2">
    <div class="container text-center">
        @Model.Group.AvatarImg(128, htmlAttributes: new { @class = "mx-auto d-block mb-2" })
        @if (Model.Group.Groupname == Model.Group.Title) {
        <p>
            @@@Model.Group.Groupname @if (!Model.Group.Description.IsNullOrEmpty()) { <text>&ndash; @Model.Group.Description</text> }
        </p>
        } else {
            <p>
                @Model.Group.Name <small>@@@Model.Group.Groupname</small> @if (!Model.Group.Description.IsNullOrEmpty()) { <text>&ndash; @Model.Group.Description</text> }
            </p>
        }
    </div>
    @{ Html.RenderPartial("_GroupMenu", Model.Group);}
</div>

<div class="container-fluid my-3">

    @if (Model.Members.HasItems()) {
        <table class="table table-hover table-people">
            <thead>
                <tr>
                    <th class="table-icon"></th>
                    <th><a href="@Url.OrderBy("name")">Name</a></th>
                    <th class="table-icon"></th>
                </tr>
            </thead>
            <tbody id="infinite-scroll-target">
                @{ Html.RenderPartial("_PeopleTable", Model.Members); }
            </tbody>
        </table>
        @Html.ScrollMore(Model.Members)
    }
</div>
