@model SearchResult<Group, GroupQuery>
@{
    Title = "Groups";
}

@if (User.SystemPermissions.Contains(Permission.ManageUsers)) {
    @section navbar_secondary {
        <a class="btn btn-round btn-primary waves-effect" href="@(Url.Action<GroupController>(c => c.New()))" title="Add group">@Html.SvgIcon("plus")</a>
    }
}

<div class="container-fluid mt-3">
    @(Html.SearchForm<GroupController>(c => c.Index(null), Model.Query))

    @if (Model.HasItems()) {
        <table class="table table-hover table-groups">
            <thead>
                <tr>
                    <th class="table-icon"></th>
                    <th>Name</th>
                    <th>Members</th>
                    <th class="table-icon"></th>
                </tr>
            </thead>
            <tbody id="infinite-scroll-target">
                @{ Html.RenderPartial("_GroupTable", Model); }
            </tbody>
        </table>
        @Html.ScrollMore(Model)

    } else if (!Model.Query.Text.IsNullOrWhiteSpace()) {
        <p class="mt-3">@Html.SearchResultText(Model)</p>
    }
</div>
