@model TestViewModel
@{
    Title = "Test";
}

@section scripts {
    @* NOTE: adding inline scripts like this seems to work fine, but we should review it just to make sure they are not evaluated every time the page is rendered *@
    <script>
        $(document).on("click", "[data-body-bg]", function (e) {
            console.log("Going " + this.dataset.bodyBg);
            if (this.dataset.bodyBg === "light") {

                $(document.body).removeClass("body-dark");
            } else {
                $(document.body).addClass("body-dark");
            }
        });

        $(document).on("click", ".btn-round", function (e) {
            $(this).toggleClass("show");
        });


        document.addEventListener("turbolinks:load", function () {
            // init tooltips
            $('[data-toggle="tooltip"]').tooltip();
        });

        document.addEventListener("turbolinks:before-cache", function () {
            // destroy tooltips
            $('[data-toggle="tooltip"]').tooltip('dispose');
        });
    </script>
}


@section navbar_secondary {
    <nav class="nav nav-tabs">
        <a class="nav-link active" href="@Url.Action(nameof(TestController.Index))">Components</a>
        <a class="nav-link" href="@Url.Action(nameof(TestController.Get), new { view = "redirect"})">Redirect</a>
    </nav>
    <div class="navbar-icons">
        <div class="dropdown">
            <button type="button" class="btn btn-icon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Toggle Dropdown">
                @Html.SvgIcon("dots-vertical")
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#alerts">Alerts</a>
                <a class="dropdown-item" href="#buttons">Buttons</a>
                <a class="dropdown-item" href="#colors">Colors</a>
                <a class="dropdown-item" href="#forms">Forms</a>
                <a class="dropdown-item" href="#icons">Icons</a>
                <a class="dropdown-item" href="#navs">Navs</a>
                <a class="dropdown-item" href="#spinners">Spinners</a>
                <a class="dropdown-item" href="#tables">Tables</a>                
                <a class="dropdown-item" href="#text">Text</a>
                <a class="dropdown-item" href="#pagination">Pagination</a>
            </div>
        </div>
    </div>
}

<div class="container mt-3">
    @Html.Partial("_Components")
</div>


@section fab {
    <div class="fab dropup">
        <button type="button" class="btn btn-round btn-success waves-effect dropdown-toggle" data-toggle="dropdown" title="Create" aria-expanded="false" aria-haspopup="true">@Html.SvgIcon("plus")</button>
        <div class="dropdown-menu dropdown-menu-right" role="menu">
            <h6 class="dropdown-header">Office</h6>
            <a class="dropdown-item" href="#">@Html.SvgIcon("file-word") Word</a>
            <a class="dropdown-item" href="#">@Html.SvgIcon("file-excel") Excel</a>
            <h6 class="dropdown-header">Content</h6>
            <a class="dropdown-item" href="#">@Html.SvgIcon("file-document-box") Document</a>
        </div>
    </div>
}

