@{
    Layout = null;
    Title = "Test";
    var spaces = SpaceService.GetJoined().Where(x => !x.IsArchived).OrderByDescending(x => x.IsStarred).ThenBy(x => x.Name).Take(10);

}
<!DOCTYPE html>
<html class="@HtmlClasses()" lang="@System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, maximum-scale=1, user-scalable=no"> @* Viewport must contain width=device-width, minimum-scale=1.0 to trigger GPU Rasterization https://www.chromium.org/developers/design-documents/chromium-graphics/how-to-get-gpu-rasterization *@
    <meta name="turbolinks-cache-control" content="no-preview">
    <title>@Html.Title(Title)</title>
    @Html.ThemeHead()
    @Html.ThemeStyle("~/styles/weavy.scss", htmlAttributes: new { data_turbolinks_track = "reload" })
    @Bundler.Scripts("~/scripts/weavy.bundle", htmlAttributes: new { data_turbolinks_track = "reload" })
</head>
<body class="@BodyClasses()" @BodyAttributes>
    @Html.SvgSprite(inline: false)
    <nav class="navbar-theme fixed-top">
        <div class="navbar navbar-primary">
            <div class="navbar-icons @(Space != null ? "d-standalone" : "")">
                <button class="btn btn-icon" type="button" data-toggle="drawer" data-target="#drawer-spaces">@Html.IconImg(24)</button>
            </div>
            <div class="mx-auto text-center dropdown">
                <a class="d-block dropdown-toggle" data-toggle="dropdown" href="javascript:;" style="color:#fff;">
                    <div class="line-1" style="line-height:1">Weavy HQ</div>
                    <div class="line-2" style="line-height:1; font-size: 14px; margin-top:2px;">Home</div>
                </a>
                 <div class="dropdown-menu" style="top:2.5rem;left:-2.5rem;">
                    <a class="dropdown-item" href="#">@Html.SvgIcon("home") Home</a>
                    <a class="dropdown-item" href="#">@Html.SvgIcon("account-multiple") People</a>
                    <a class="dropdown-item" href="#">@Html.SvgIcon("view-grid") Spaces</a>
                     <a class="dropdown-item" href="#">@Html.SvgIcon("magnify") Search</a>

                    @*<a class="dropdown-item" href="#">@Html.SvgIcon("folder") Content</a>
                    <a class="dropdown-item" href="#">@Html.SvgIcon("forum") Discuss</a>*@

                  </div>
            </div>
            <div class="navbar-icons"  data-toggle="drawer" data-target="#drawer-user">
                <button class="btn btn-icon">@User.AvatarImg(24)</button>
                <span class="badge badge-danger" style="position:absolute;top:8px;right:8px;">3</span>
            </div>
        </div>
    </nav>
    <div class="alerts">
        @Html.AlertMessages()
    </div>

    <main>
    </main>

    <aside id="drawer-spaces" class="drawer drawer-left">
        <header class="drawer-header">
            <a class="text-center pt-3" href="/">
                @Html.IconImg(64)
                <p class="mt-2">Weavy HQ</p>
            </a>
        </header>
        <div class="drawer-body scroll-y">
            <nav class="nav flex-column">
                <a class="dropdown-item bg-light" href="#">@Html.IconImg(24) <span class="ml-2">Weavy HQ</span></a>
                <div class="dropdown-divider"></div>
                @foreach (var space in spaces) {
                    <a class="dropdown-item" href="@space.Url()">@space.AvatarImg(24) <span class="ml-2">@space.Name</span> @Html.StarToggle(space)</a>
                }
                
                <a class="text-center py-2" href="#">All spaces</a>
            </nav>
        </div>
    </aside>

    @Html.Partial("_DrawerUser2")

    <div class="drawer-backdrop"></div>
</body>
</html>
