@model App

<p>
    <a href="@Model.Url()">@Model.Title (app summary)</a>
</p>


@*<article class="content-summary @Model.CssClass()" data-id="@Model.Id" data-app-guid="@Model.AppGuid" data-allowed-children="@Model.AllowedChildrenString()" data-allowed-parents="@Model.AllowedParentsString()">
    <header>
      <div class="title">
        <h3><a href="@Model.Url()"><i class="handle fa fa-color @Model.Icon" title="@Model.Kind"></i> @Model.Title</a></h3>
        <div class="meta">
          Created by @Model.CreatedBy.Link()
          @Html.Time(Model.CreatedAt)
          @if (Model.ModifiedAt != Model.CreatedAt) { <text>&middot;</text> @Html.Time(Model.ModifiedAt, @"e\di\te\d") }
        </div>

      </div>
      <div class="actions">
        @Html.StarLink(Model, false)
        <div class="dropdown">@{ Html.RenderPartial("_AppMenu", Model); }</div>
      </div>
    </header>
    <div class="user-content">
      <div class="content-description">
        @Model.Description.Ellipsis(512)
      </div>
    </div>
</article>*@
