@model App

<tr data-id="@Model.Id" data-app-guid="@Model.AppGuid" data-allowed-children="@Model.AllowedChildrenString()" data-allowed-parents="@Model.AllowedParentsString()" data-href="@Model.Url()">
    <td class="table-icon">
        @Html.SvgIcon(Model.IconName(), color: Model.IconColor())
    </td>
    <td class="py-2 align-middle">
        <div class="d-flex align-items-center">
            <a href="@Model.Url()" class="text-truncate">@Model.Title</a>
            @Html.StarToggle(Model, htmlAttributes: new { @class = "ml-auto flex-noscale" })
        </div>
    </td>
    <td>@Html.Time(Model.ModifiedAt, format: "g")</td>
    <td>@Model.Kind</td>
    <td>--</td>
    <td class="table-icon">@{ Html.RenderPartial("_AppMenu", Model);}</td>
</tr>
