@model IContent
@{
                var crumbs = Model.Breadcrumbs().Skip(1).ToList();
                crumbs.Reverse();
}
<div class="dropdown">
    <button type="button" class="btn btn-icon dropdown-toggle" data-toggle="dropdown">
        @Html.SvgIcon("menu-down")
    </button>
    <div class="dropdown-menu">
        @foreach (var crumb in crumbs) {
            <a class="dropdown-item" href="@crumb.Url">@Html.SvgIcon(crumb.Icon, "amber")<span>@crumb.Title</span></a>
        }
        <a class="dropdown-item" href="@(Url.Action<SpaceController>(c => c.Content(Space.Id, null, null)))">@Space.AvatarImg(24)<span class="ml-2">Files</span></a>
    </div>
</div>

