@model Dictionary<string, string[]>
<form class="modal-content" id="connect-url">
    <div class="modal-header border-0 pb-0">
        <h5 class="modal-title">Connect space</h5>
        <button type="button" class="btn btn-icon" data-dismiss="modal" aria-label="Close">@Html.SvgIcon("close")</button>
    </div>
    <div class="modal-body scroll-y">
        <p>Select the url to connect with this space.</p>

        <ul class="list-group mb-3">
            @foreach (var option in Model) {
                <li class="list-group-item list-group-item-action @if (option.Key == Model.First().Key) { <text>active</text> }" onclick="$(this).find('input[type=radio]').prop('checked', 'checked'); $(this).closest('.list-group').find('li').removeClass('active'); $(this).addClass('active');">
                    <div class="custom-control custom-radio mb-0">
                        <input class="custom-control-input" type="radio" name="connect-url" id="connect-radio-@option.Key" value="@option.Key" @if (option.Key == Model.First().Key) { <text> checked</text> }>
                        <label class="custom-control-label d-flex flex-column" for="connect-radio-@option.Key" title="@(option.Value[1])">
                            <div class="h6">@(option.Value[0])</div>
                            <small class="scroll-x text-nowrap">@(option.Key == Model.Last().Key ? option.Value[1] : option.Value[2])</small>
                        </label>
                    </div>
                </li>
            }
        </ul>

        <div class="media text-info">
            @Html.SvgIcon("information-outline", size: 36)
            <div class="media-body small text-italic">The bubble will automatically show up for anyone that has access to it after it is connected.</div>
        </div>

    </div>
    <div class="modal-footer border-0">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary btn-load">Connect</button>
    </div>
</form>
