@model Weavy.Core.Models.File
<tr data-href="@Model.Url()">
    <td class="table-icon">
        @Html.SvgIcon(Model.IconName(), color: Model.IconColor())
    </td>
    <td class="py-2 align-middle">
        <div class="d-flex align-items-center">
            <a href="@Model.Url()">@Model.Title</a>
            @Html.StarToggle(Model, htmlAttributes: new { @class = "ml-auto flex-noscale" })
        </div>
    </td>
    <td>@Html.Time(Model.ModifiedAt, format: "g")</td>
    <td>@Model.Kind</td>
    <td>@FileHelper.FileSizeAsString(Model.Size)</td>
    <td class="table-icon">@{ Html.RenderPartial("_FileMenu", Model);}</td>
</tr>
