@model Item

<a class="list-group-item list-group-item-action" href="@Model.Url()">
    <div class="media">
        @Html.SvgIcon(Model.IconName(), Model.IconColor(), size: 48)
        <div class="media-body">
            <h6 class="media-title">@Model.Title</h6>
            <small class="text-muted">@(Model.MetaData().ModifyVerb)d @Html.Time(Model.ModifiedAt) by @Model.ModifiedBy.Title</small>
        </div>
        <div class="media-icons">
            @Html.StarToggle(Model)
        </div>
    </div>
</a>
