@model Link
@{
    var linkProperties = LinkHelper.GetLinkProperties(Model);    
}
<a class="list-group-item list-group-item-action" href="@linkProperties.Url" target="@linkProperties.Target">
    <div class="media">
        @Html.SvgIcon(linkProperties.Icon, size: 48)
        <div class="media-body">
            <h6 class="media-title">@Model.Title</h6>
            <small class="text-muted">@(Model.MetaData().ModifyVerb)d @Html.Time(Model.ModifiedAt) by @Model.ModifiedBy.Title</small>
        </div>
        <div class="media-icons">
            @Html.StarToggle(Model)
        </div>
    </div>
</a>
