@model Item

<div class="dropdown">
    <button type="button" class="btn btn-icon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Toggle Dropdown">
        @Html.SvgIcon("dots-vertical")
    </button>
    <div class="dropdown-menu dropdown-menu-right">
        <button type="button" class="dropdown-item" data-toggle="modal" data-target="#share-modal" data-share-type="@Model.Type" data-share-id="@Model.Id" data-share-title="Share @Model.Kind">@Html.SvgIcon("share-variant", "success") Share</button>

        @if (Model.HasPermission(Permission.Edit)) {
            if (Model.LockedById == User.Id) {
                <a class="dropdown-item" href="@Model.Url()/edit">@Html.SvgIcon("pencil", "primary")<span>Edit</span></a>
            } else if (Model.LockedById != null) {
                <a class="dropdown-item" href="@Model.Url()/edit?force=true">@Html.SvgIcon("pencil", "primary")<span>Unlock and edit</span></a>
            } else {
                <a class="dropdown-item" href="@Model.Url()/edit">@Html.SvgIcon("pencil", "primary")<span>Edit</span></a>
            }
            <button class="dropdown-item" type="button" data-toggle="modal" data-target="#move-content-modal" data-path="@(Url.Action<ItemController>(c => c.MoveModal(Model.Id)))" title="Move @Model.Kind">@Html.SvgIcon("undo", "warning") Move</button>
        }

        @Html.StarToggle(Model, false, new { @class = "dropdown-item toggle-dropdown" })

        @Html.SubscribeToggle(Model, new { @class = "dropdown-item toggle-dropdown" })

        @if (Model.HasPermission(Permission.Delete)) {
            <form action="@(Url.Action(nameof(ItemController.Trash), typeof(ItemController).ControllerName(), new { id = Model.Id }))" method="post" data-turboform>
                <button type="submit" class="dropdown-item">@Html.SvgIcon("delete", "danger") Trash</button>
            </form>
        }
    </div>
</div>
