@model Item

<tr data-id="@Model.Id" data-item-guid="@Model.ItemGuid" data-allowed-parents="@Model.AllowedParentsString()" data-href="@Model.Url()">
    <td class="table-icon">
        @Html.SvgIcon(Model.IconName(), color: Model.IconColor())
    </td>
    <td class="py-2 align-middle">
        <div class="d-flex align-items-center">
            <a href="@Model.Url()" class="text-truncate">@Model.Title</a>
            @if (Model.IsDraft || Model.LockedById == User.Id) {
                <span class="badge badge-warning" title="You are editing this item">editing</span>
            } else if (Model is ILockable lockable && lockable.IsLocked()) {
                <span class="badge badge-secondary" title="Locked by @lockable.LockedBy().Title">locked</span>
            }
            @Html.StarToggle(Model, htmlAttributes: new { @class = "ml-auto flex-noscale" })
        </div>
    </td>
    <td>@Html.Time(Model.ModifiedAt, format: "g")</td>
    <td>@Model.Kind</td>
    <td>--</td>
    <td class="table-icon">@{ Html.RenderPartial("_ItemMenu", Model);}</td>
</tr>
