@model Weavy.Core.Models.File

@{ 
    var attrs = Html.PreviewAttributes(Model, href: Model.Url());
    var isSpace = (bool?)ViewBag.IsSpace ?? false;
}
<a class="list-group-item list-group-item-action" href="@Model.Url()" @Html.Raw(attrs.AsHtmlAttributes())>
    <div class="media">
        @Html.SvgIcon(Model.IconName(), Model.IconColor(), size: 48)
        <div class="media-body">
            <h6 class="media-title">@Model.Title</h6>
            
            @if (isSpace) {
                <small class="text-muted">Uploaded @Html.Time(Model.ModifiedAt) by @Model.ModifiedBy.Title</small>
            } else {
                if (Model.SpaceId != null) {
                    Space sp = SpaceService.Get(Model.SpaceId.Value);
                    <small class="text-muted">@Html.Time(Model.ModifiedAt) in @sp.Name by @Model.ModifiedBy.Title </small>
                } else {
                    <small class="text-muted">@Html.Time(Model.ModifiedAt) by @Model.ModifiedBy.Title </small>
                }
            }
            
            
        </div>
    </div>
</a>
