@model SearchResult<User, UserQuery>

@if (Model.Any()) {
    foreach (var user in Model) {
        <tr @(Html.Raw(user.IsTrashed ? @"class=""table-trashed""" : user.IsSuspended ? @"class=""table-suspended""" : "")) data-href="@user.Url()" data-type="user" data-id="@user.Id">
            <td class="table-icon">@user.AvatarImg(32, presence: true)</td>
            <td>
                @if (user.Username == user.Title) {
                    <a href="@user.Url()"><small>@@@user.Username</small></a>
                } else {
                    <a href="@user.Url()">@user.Title</a> <small>@@@user.Username</small>
                }
                @Html.Badge(user)
            </td>
            <td class="table-icon">@{ Html.RenderPartial("_UserMenu", user);}</td>
        </tr>
    }

    <tr class="scroll-next d-none" data-next="@Url.ScrollNext(Model)">
        <td colspan="3"></td>
    </tr>
}

