@model Post

@{
    bool details = ViewData["details"] as bool? ?? false;
    var images = Model.Attachments.Where(x => FileHelper.IsWebImage(x.Name));
    var files = Model.Attachments.Where(x => !FileHelper.IsWebImage(x.Name));
}
<div class="card post" data-type="post" data-id="@Model.Id" data-post-id="@Model.Id">

    <div class="card-header media">
        @Model.CreatedBy.AvatarLink(48, htmlAttributes: new { @class = "mr-2" })
        <div class="media-body">
            <h6 class="media-title">@Model.CreatedBy.Link() <small>@@@Model.CreatedBy.Username</small></h6>
            <small class="text-muted">
                @Html.Time(Model.CreatedAt) @if (details) {<text>in</text> @Model.Space.Link()}
                @if (Model.ModifiedAt != Model.CreatedAt) {<text>&middot;</text> @Html.Time(Model.ModifiedAt, @"e\di\te\d")}
            </small>
        </div>
        <div class="media-icons">
            @Html.StarToggle(Model)
            @{ Html.RenderPartial("_PostMenu", Model, new ViewDataDictionary() { { "details", details } }); }
        </div>
    </div>

    @if (images.Any()) {
        <div class="card-images">
            @{ Html.RenderPartial("_ImageGrid", images); }
        </div>
    }

    @if (Model.Embed != null) {
        <div class="card-embed">
            @{ Html.RenderPartial("_Embed", Model.Embed); }
        </div>
    }

    @if (!Model.Html.IsNullOrEmpty() || Model.Poll != null) {
        <div class="card-body">
            <p class="card-text">@Html.Raw(Model.Html)</p>
            @if (Model.Poll != null) {
                Html.RenderPartial("_Poll", Model);
            }
        </div>
    }

    @if (!Model.ContextUrl.IsNullOrEmpty()) {
        var origin = new Uri(Model.ContextUrl).GetLeftPart(System.UriPartial.Authority);
        <div class="context-link card-context">
            <img class="icon" src="https://www.google.com/s2/favicons?domain=@origin">
            <a class="text" href="@Model.ContextUrl" target="_blank" title="Open in context - @Model.ContextUrl" data-context-url="@Model.ContextUrl" data-weavy-context-url="@Model.Url(absolute: true)" data-weavy-context-space="@Model.SpaceId">@Model.ContextTitle</a>
            <a class="link-open" href="@Model.ContextUrl" target="_blank" title="Open in context - @Model.ContextUrl" data-context-url="@Model.ContextUrl" data-weavy-context-url="@Model.Url(absolute: true)" data-weavy-context-space="@Model.SpaceId">@Html.SvgIcon("open-in-new", size: 18)</a>
        </div>
    }

    @if (files.Any()) {
        <div class="card-files">
            <div class="list-group file-list">
                @foreach (var file in files) {
                    Html.RenderPartialContent(ContentView.List, file, viewData: new ViewDataDictionary { { "byline", false }, { "preview", true } });
                }
            </div>
        </div>
    }

    <div class="card-feedback">
        @{ Html.RenderPartial("_PostFeedback", Model); }
    </div>

    <div class="section-comments post-comments@(details ? "":" d-none")">
        @if (details) {
            <div class="list-group comments">
                @{Html.RenderPartial("_Comments", Model.Comments); }
            </div>
        } else {
            @Html.SvgSpinner()
            <div class="list-group comments"></div>
        }
        @Html.Partial("_CommentForm", Model, new ViewDataDictionary() { { "container", ".comments" } })
    </div>

</div>

