@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (IsSectionDefined("scripts")) {
    @section scripts {
        @RenderSection("scripts", required: false)
    }
}

@section navbar_left {
    <a href="@BackUrl" class="btn btn-icon">@Html.SvgIcon("arrow-left")</a>
}

@section navbar_middle {
    <div class="navbar-middle dropdown">
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" href="@Request.Path">
            <div class="title">Manage</div>
            <div class="subtitle">@Theme.GetName()</div>
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="@(Url.Action<Weavy.Web.Controllers.HomeController>(c => c.Index()))">@Html.SvgIcon("home") Home</a>
            <a class="dropdown-item" href="@(Url.Action<Weavy.Web.Controllers.SpaceController>(c => c.Index(null, null, null)))">@Html.SvgIcon("view-grid") Spaces</a>
            <a class="dropdown-item" href="@(Url.Action<Weavy.Web.Controllers.PeopleController>(c => c.Index(null, null, null)))">@Html.SvgIcon("account-multiple") People</a>
            <a class="dropdown-item" href="@(Url.Action<Weavy.Web.Areas.Manage.Controllers.HomeController>(c => c.Index()))">@Html.SvgIcon("settings") Manage</a>
        </div>
    </div>
}

@if (IsSectionDefined("navbar_secondary")) {
    @section navbar_secondary {
        @RenderSection("navbar_secondary", required: false)
    }
}

@RenderBody()

@if (IsSectionDefined("footer")) {
    @section footer {
        @RenderSection("footer", required: false)
    }
}
