@model ContentModel
@{
    IEntity current = Model.App.Parent == null ? (IEntity)Space : Model.App;
    IEntity parent = Model.App.Parent ?? (IEntity)Space;
    Title = "Content";
}


<nav class="navbar navbar-content">
    @Model.App.Breadcrumb()
    <div class="navbar-icons ml-auto">
        @Html.StarToggle(Model.App)
        @{ Html.RenderPartial("_AppMenu", Folder); }
    </div>
</nav>

<div class="mt-3">
    @if (Model.View == ContentView.Table) {
        <table class="table table-hover table-content">
            <thead>
                <tr>
                    <th class="table-icon"></th>
                    <th>Name</th>
                    <th>Modified</th>
                    <th>Type</th>
                    <th>Size</th>
                    <th class="table-icon"></th>
                </tr>
            </thead>

            @if (Model.Content.IsNullOrEmpty()) {
                <tfoot>
                    <tr>
                        <td class="empty text-center text-muted py-4" colspan="6">
                            Nothing in this folder yet. 
                            @if (Model.App.HasPermission(Permission.Create)) {
                                <text>You should go ahead and add some content.</text>
                            }
                        </td>
                    </tr>
                </tfoot>
            }

            <tbody id="infinite-scroll-target">
                @{ Html.RenderPartial("_" + Model.View.ToString(), Model.Content); }
            </tbody>
        </table>
    } else {
        <div id="infinite-scroll-target">
            @{ Html.RenderPartial("_" + Model.View.ToString(), Model.Content); }
        </div>
    }
    @Html.ScrollMore(Model.Content)
</div>

@section fab {
    @Model.App.FAB()
}

@section footer {
    @Html.Partial("_Modals", Model)
}
