@model PagedList<User>

@if (Model.Any()) {
    foreach (var user in Model) {
        <tr class="@($"{(user.IsTrashed() ? "table-trashed" : "")} {(user.IsSuspended ? "table-suspended": "")}")">
            <td class="table-icon">@user.AvatarImg(32, presence: true)</td>
            <td>
                @if (user.Username == user.Title) {
                    <a href="@user.Url()"><small>@@@user.Username</small></a>
                } else {
                    <a href="@user.Url()">@user.Title</a> <small>@@@user.Username</small>
                }
                @Html.Badge(user)
            </td>
            <td class="table-icon"><button type="button" class="btn btn-icon" title="Remove member">@Html.SvgIcon("close")</button></td>
        </tr>
    }

    <tr class="scroll-next d-none" data-next="@Url.ScrollNext(Model)">
        <td colspan="3"></td>
    </tr>
}

