@model Theme
@{
    Title = "Theme settings";
    Back = Url.Action<HomeController>(c => c.Index());
}

<div class="container my-3">
    <form action="@Url.Action(nameof(HomeController.UpdateTheme), typeof(HomeController).ControllerName())" method="post" class="tab-content" enctype="application/x-www-form-urlencoded" autocomplete="off" data-turboform novalidate>
        
        @Html.HttpMethodOverride(HttpVerbs.Put)

        <div class="text-center">
            @Html.EditorsForModel(include: new string[] { nameof(Model.Icon) }, formLabels: false)
        </div>

        @Html.EditorsForModel(exclude: new string[] { nameof(Model.Icon) })

        <div class="form-buttons">
            <button type="submit" class="btn btn-primary btn-load waves-effect">Save</button>
            <a href="@Back" class="btn btn-outline-secondary waves-effect">Cancel</a>
        </div>
    </form>
</div>
