@model PasswordModel
@{
    Layout = "_PersonalLayout.cshtml";
    Title = "Edit profile";
    Back = Url.Back<WidgetController>(c => c.Notifications());
}

@section navbar_secondary {
    @Html.Partial("_ProfileNavbar", User)
}

<div class="container my-3">
    @using (Html.BeginForm(nameof(WidgetController.UpdatePassword), typeof(WidgetController).ControllerName(), FormMethod.Post, new { id = "update-password-form", autocomplete = "off", data_turboform = "", novalidate = "" })) {
        @Html.HttpMethodOverride(HttpVerbs.Put)
        @Html.AntiForgeryToken()
        @Html.EditorsForModel(Model)
        <div class="form-buttons">
            <button type="submit" class="btn btn-primary btn-load waves-effect" title="Save">Save</button>
            <a href="@Back" class="btn btn-outline-secondary mr-auto waves-effect">Cancel</a>
        </div>
    }
</div>
