@model ProfileModel
@{
    Title = "People";
}

@section navbar_left {
    <div class="navbar-icons">
        <a class="btn btn-icon" href="@(Url.Action<PeopleController>(c => c.Index(null, null, null)))">@Html.SvgIcon("arrow-left")</a>
    </div>
}

<div class="cover pt-4">
    <div class="container text-center">
        @if (Model.User.Avatar?.Value is Weavy.Core.Models.File avatar && avatar != null) {
            <a href="@avatar.Url()" @Html.Raw(Html.PreviewAttributes(avatar, href: avatar.Url()).AsHtmlAttributes())>
                @avatar.AvatarImg(128)
            </a>
        } else {
            @Model.User.AvatarImg(128)
        }
        <p class="pt-2 mb-0">@@@Model.User.Username @Html.Badge(Model.User)</p>
    </div>

    <div class="navbar navbar-secondary">
        <nav class="nav nav-tabs">
            <a class="nav-link" href="@Model.User.Url()">Profile</a>
            <a class="nav-link active" href="@(Url.Action<Weavy.Web.Controllers.PeopleController>(c => c.Following(Model.User.Id, null, null)))">Following</a>
            <a class="nav-link" href="@(Url.Action<Weavy.Web.Controllers.PeopleController>(c => c.Followers(Model.User.Id, null, null)))">Followers</a>
        </nav>
        <div class="navbar-icons">
            @{ Html.RenderPartial("_UserMenu", Model.User);}
        </div>
    </div>

</div>



<table class="table table-hover table-people">
    <tbody id="infinite-scroll-target">
        @{ Html.RenderPartial("_PeopleTable", Model.Following); }
    </tbody>
</table>
@Html.ScrollMore(Model.Following)


@if (!Model.Following.Any()) {
    <div class="container empty">

        @if (Model.User.Id == User.Id) {
            <p class="text-muted text-center py-3">You are not following anyone yet. Go find some <a href="@Url.Action(nameof(PeopleController.Index))">interesting people</a> to follow...</p>
        } else {
            <p class="text-muted text-center py-3">@Model.User.Title isn't following anyone yet.</p>
        }

    </div>
}
