@model List<Breadcrumb>
@{
  var crumbs = Model.Skip(1).ToList();
  crumbs.Reverse();
}
<div class="dropdown">
  <button type="button" class="btn btn-icon dropdown-toggle" data-toggle="dropdown">
    @Html.SvgIcon("menu-down")
  </button>
  <div class="dropdown-menu">
    
    @foreach (var crumb in crumbs) {
      <a class="dropdown-item" href="@crumb.Url">@Html.SvgIcon(crumb.Icon)<span>@crumb.Text</span></a>
    }
      <a class="dropdown-item" href="@Space.ContentUrl()">@Html.SvgIcon("folder", "amber")<span>Files</span></a>
  </div>
</div>

