@model PostsModel
@{
    Title = "Posts";
}

@section navbar_middle {
    <div class="navbar-middle">
        @Html.StarToggle(Space)<span class="navbar-text">
            @Space.Name
            @if (Space.Teamname != null) {
                <small>@@@Space.Teamname</small>
            }
        </span>
    </div>
}

@if (Space.HasPermission(Permission.List)) {
    @section navbar_secondary {
        @{ Html.RenderPartial("_SpaceTabs"); }
    }
}

<div class="cover cover-bg cover-under-navbar">

    <div class="text-center my-4" style="padding-bottom:2.5rem;">
        @if (Space.Avatar?.Value is Weavy.Core.Models.File avatar && avatar != null) {
            <a href="@avatar.Url()" @Html.Raw(Html.PreviewAttributes(avatar, href: avatar.Url()).AsHtmlAttributes())>@avatar.AvatarImg(128)</a>
        } else {
            @Space.AvatarImg(128)
        }
    </div>
    <div class="facepile">
        @foreach (var member in Model.Members) {
            @member.AvatarLink(size: 32, presence: true)
        }
    </div>

    <div class="top-right">@{ Html.RenderPartial("_SpaceMenu", Space); }</div>
</div>

<div class="container my-4">
    @if (!Space.Description.IsNullOrEmpty()) {
        <p class="lead text-center text-muted mb-2">@Space.Description</p>
    }
    <p class="small text-center text-muted">
        <a href="@(Url.Action<SpaceController>(c=>c.Members(Space.Id, null, null)))">@Model.Members.TotalCount.SingularizeOrPluralize("member", "members")</a>@(" · " + Space.Privacy.GetDisplayName())
    </p>

    @if(!Space.IsMember && SpaceService.HasPendingMembershipRequest(Space.Id)) {
        <div class="alert alert-info d-flex">
            @Html.SvgIcon("information", size: 36, htmlAttributes: new { @class= "align-self-start flex-noscale mt-1 mr-2" })
            <span>Your membership request is waiting for approval.</span>
        </div>
    }

    @if (Space.HasPermission(Permission.List)) {
        @Html.Partial("_PostForm", Space)
        <div id="infinite-scroll-target" class="posts">
            @Html.Partial("_Posts", Model.Posts)
        </div>
        @Html.ScrollMore(Model.Posts)
    }
</div>

@section footer {
    @{
        Html.RenderPartial("_FeedbackModal");
        Html.RenderPartial("_EditPostModal");
        Html.RenderPartial("_MovePostModal");
        Html.RenderPartial("_EditCommentModal");
    }
}
