@model IndexResult
@{
    Title = "Search";
    string tab = ViewContext.RouteData.Values["tab"] as string;
    string qs = Request.QueryString.Rebuild("top", null, "skip", null).AsQueryString();
}

@section navbar_middle {
    <div class="navbar-middle">@Html.StarToggle(Space)<span class="navbar-text">@Space.Name</span></div>
}


@if (Space.HasPermission(Permission.List)) {
    @section navbar_secondary {
        @{ Html.RenderPartial("_SpaceTabs"); }
    }
}

<div class="container text-center">
    @Space.AvatarImg(128, htmlAttributes: new { @class = "my-4" })
    <form action="@Url.Rebuild("q", null)" method="get" data-turboform>
        <div class="form-group" role="search">
            <input class="form-control" type="search" name="q" value="@Model.Query.Text" placeholder="Search..." />
             <button type="submit" class="btn btn-icon">@Html.SvgIcon("magnify")</button>
        </div>
        <div class="form-group">
            <a class="custom-control custom-radio" href="@Url.Rebuild("spaceid", null)">
                <input type="radio" class="custom-control-input" @(Model.Query.SpaceId != null ? "checked" : " ") />
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description text-dark">Search @Space.Name</span>
            </a>
            <a class="custom-control custom-radio" href="@Url.Rebuild("spaceid", 0)">
                <input type="radio" class="custom-control-input" @(Model.Query.SpaceId == null ? "checked" : " ") />
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description text-dark">Search all spaces</span>
            </a>
        </div>
    </form>
</div>

<div class="container my-4">
    @if (!string.IsNullOrEmpty(Model.Query.Text)) {
        <nav class="nav nav-tabs mb-4">
            @if (Space.Id == SpaceService.SystemId) {
                if (tab == null) {
                    @(Html.ActionLink<HomeController>(c => c.Search("everything", null), qs: qs, text: "Everything", htmlAttributes: new { @class = "nav-link active" }))
                } else {
                    @(Html.ActionLink<HomeController>(c => c.Search("everything", null), qs: qs, text: "Everything", htmlAttributes: new { @class = "nav-link" }, active: LinkActive.Path))
                }
                @(Html.ActionLink<HomeController>(c => c.Search("posts", null), qs: qs, text: "Posts", htmlAttributes: new { @class = "nav-link" }, active: LinkActive.Path))
                @(Html.ActionLink<HomeController>(c => c.Search("files", null), qs: qs, text: "Files", htmlAttributes: new { @class = "nav-link" }, active: LinkActive.Path))
                @(Html.ActionLink<HomeController>(c => c.Search("comments", null), qs: qs, text: "Comments", htmlAttributes: new { @class = "nav-link" }, active: LinkActive.Path))
            } else {
                if (tab == null) {
                    @(Html.ActionLink<SpaceController>(c => c.Search(Space.Id, "everything", null), qs: qs, text: "Everything", htmlAttributes: new { @class = "nav-link active" }))
                } else {
                    @(Html.ActionLink<SpaceController>(c => c.Search(Space.Id, "everything", null), qs: qs, text: "Everything", htmlAttributes: new { @class = "nav-link" }, active: LinkActive.Path))
                }
                @(Html.ActionLink<SpaceController>(c => c.Search(Space.Id, "posts", null), qs: qs, text: "Posts", htmlAttributes: new { @class = "nav-link" }, active: LinkActive.Path))
                @(Html.ActionLink<SpaceController>(c => c.Search(Space.Id, "files", null), qs: qs, text: "Files", htmlAttributes: new { @class = "nav-link" }, active: LinkActive.Path))
                @(Html.ActionLink<SpaceController>(c => c.Search(Space.Id, "comments", null), qs: qs, text: "Comments", htmlAttributes: new { @class = "nav-link" }, active: LinkActive.Path))
            }
        </nav>
    }

    @if (Model.TotalCount == 0 && !string.IsNullOrEmpty(Model.Query.Text)) {
        <p>Your search - <strong>@Model.Query.Text</strong> - did not match @(tab == null ? "anything" : "any " + tab).</p>
        <p>Suggestions:</p>
        <ul>
            @if (Model.Query.SpaceId != null) {
                <li><a href="@Url.Rebuild("spaceid", 0)">Expand your search to all spaces.</a></li>
            }
            <li>Make sure that all words are spelled correctly.</li>
            <li>Try different keywords.</li>
            <li>Try more general keywords.</li>
            <li>Try fewer keywords.</li>
        </ul>
    }

    @{ Html.RenderPartial("_SearchResult"); }
</div>
