@model Space
@{
    Title = "Edit space";
    Back = Model.Url();
}

@section navbar_secondary {
    @Html.Partial("_Navbar", Model)
}

<div class="container my-3">
    @using (Html.BeginForm(nameof(SpaceController.UpdateSettings), typeof(SpaceController).ControllerName(), new { id = Model.Id }, FormMethod.Post, new { autocomplete = "off", data_turboform = "", novalidate = "" })) {
        @Html.HttpMethodOverride(HttpVerbs.Put)
        @Html.EditorsForModel(group: "settings")

        if (PermissionService.HasSystemPermission(Permission.ManageSystem)) {
            @Html.EditorFor(x => Model.IsHQ)
        }

        <div class="form-buttons">
            <button type="submit" class="btn btn-primary btn-load waves-effect">Save</button>
            <a href="@Back" class="btn btn-outline-secondary mr-auto waves-effect">Cancel</a>
        </div>
    }
</div>
