@model Space
@{
    Title = "Edit space";
    Back = Model.Url();
    var bubbles = ViewBag.Bubbles as IEnumerable<Bubble>;
}

@section scripts {
    <script>
        $(document).on('click', '#copy-script-button', function () {
            var el = $("#strip-script");
            if (document.body.createTextRange) {
                var tr = document.body.createTextRange();
                tr.moveToElementText(el[0]);
                tr.select();
                tr.execCommand("Copy");
            } else if (document.createRange) {
                var r = document.createRange();
                r.selectNodeContents(el[0]);
                el[0].select();
                document.execCommand('copy');
            }
            weavy.alert.success("Script copied to clipboard", 3000);
        });
    </script>
}

@section navbar_secondary {
    @Html.Partial("_Navbar", Model)
}

<div class="container my-3">

    @if (bubbles.HasItems()) {
        <table class="table table-hover table-urls table-fixed">
            <thead>
                <tr>
                    <th>Connected urls</th>
                    <th class="text-right"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var bubble in bubbles) {
                    <tr>
                        <td><a href="@bubble.Url.RemoveTrailing("*")" target="_blank">@bubble.Url</a></td>
                        <td class="text-right">
                            @using (Html.BeginForm(nameof(SpaceController.UpdateWidget), typeof(SpaceController).ControllerName(), new { id = Model.Id }, FormMethod.Post, new { autocomplete = "off", data_turboform = "", novalidate = "" })) {
                                @Html.HttpMethodOverride(HttpVerbs.Delete)
                                @Html.Hidden("bubbleid", bubble.Id)
                                <button class="btn btn-icon" type="submit" title="Disconnect from url">@Html.SvgIcon("delete")</button>
                            }
                            </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <div class="form-group">
        <label>Embed Script</label>
        <textarea class="form-control" style="height:100px" readonly="readonly" id="strip-script">@Model.WidgetScript(min:true)</textarea>
        <small class="form-text text-muted">Copy and paste the script just before the <code>&lt;/body&gt;</code> tag on the site where you want Weavy to appear.</small>
    </div>

    <div class="form-buttons">
        <button type="button" id="copy-script-button" class="btn btn-primary">Copy script</button>
        <a href="@Back" class="btn btn-outline-secondary">Cancel</a>
    </div>
</div>
