<!DOCTYPE html>
<html lang="@System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, maximum-scale=1, user-scalable=no"> @* Viewport must contain width=device-width, minimum-scale=1.0 to trigger GPU Rasterization https://www.chromium.org/developers/design-documents/chromium-graphics/how-to-get-gpu-rasterization *@
    <title>@Title</title>
    @Html.ThemeHead()
    @Html.ThemeStyle("~/styles/strips.scss")
</head>
<body class="@BodyClasses("body-dark")" @BodyAttributes>
    <main>
        @RenderBody()
    </main>
</body>
</html>
