@model ErrorModel
@{
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
    Title = Model.Code + " " + Model.Description;
}

<div class="container mb-4">
    <h1 class="display-1">@Model.Code @Model.Description</h1>
    @if (User.SystemPermissions.Contains(Permission.ManageSystem)) {
        <p>Version @Bootstrapper.Version not allowed. Please <a href="@Url.Action(nameof(Weavy.Web.Areas.Manage.Controllers.HomeController.License), typeof(Weavy.Web.Areas.Manage.Controllers.HomeController).ControllerName(), new { area = "Manage" })">update your license</a> or downgrade to an earlier version.</p>
    } else {
        <p>Version @Bootstrapper.Version not allowed. Please contact your system administrator.</p>
    }
    <a class="btn btn-icon no-waves px-0" href="@Url.Back(WeavyRequestContext.Current.ApplicationPath)" data-turbolinks="false">@Html.SvgIcon("arrow-left")<span>Back</span></a>
</div>
